<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="nav-boot">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a id="dev-name" class="navbar-brand important-text" href="#">Roberto Cuyar</a>
            <div class="d-flex">
                <a href="https://www.linkedin.com/in/rob-cuyar/" class="mx-3 links" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/robertocuyar" class="mx-3 links" target="_blank" rel="noreferrer noopener">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:roberto.cuyar44@gmail.com" class="mx-3 links">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>

    </nav>
</div>
</html>