<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="project-container" class="row justify-content-center">
    <div class="py-5 fixed-bg text-highlight" id="project-one">
        <h1>Yum•Rando</h1>
    </div>
    <div class="project-desc py-5">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-6 d-flex align-items-center">
                    <img class="w-100" src="/img/yumRandoFull.png" alt="">
                </div>
                <div class="col-6">
                    <div class="row my-3 text-center">
                        <p>
                            Yum-Rando is a game-changing web application built to answer the age-old question of “what’s
                            for
                            dinner?” Built using geolocation data from the Zomato restaurant API, Yum-Rando can suggest
                            a
                            randomized restaurant for you that is near your location. You are also able to build a list
                            using
                            local storage to randomize through. If you chose to become a registered user you will have
                            the
                            ability to further customize your experience through self-generated lists that are saved to
                            our
                            database with a unique title of your choosing, as well as the ability to review a restaurant
                            and
                            adding photos through the Filestack API, and share your experience with your friends.
                        </p>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center mb-3">
                    <span class="mx-3 p-2">
                        <i class="fab fa-html5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="HTML5"></i>
                    </span>
                            <span class="mx-3 p-2">
                       <i class="fab fa-css3-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CSS3"></i>
                   </span>
                            <span class="mx-3 p-2">
                        <i class="fab fa-js" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java Script"></i>
                    </span>
                            <span class="mx-3 p-2">
                        <i class="fab fa-bootstrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap"></i>
                    </span>
                            <span class="mx-3 p-2">
                        <i class="fab fa-java" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java"></i>
                    </span>
                            <span class="mx-3 p-2">
                       <i class="fas fa-leaf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Spring Boot"></i>
                   </span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center">
                            <div class="container-fluid d-flex justify-content-end">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://yumrando.com/" class="mx-3 links" target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fas fa-globe"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>Website</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid d-flex justify-content-start">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://github.com/yum-rando/yumrando" class="mx-3 links"
                                           target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>GitHub</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 fixed-bg text-highlight" id="project-two">
        <h1>Bootset</h1>
    </div>
    <div class="project-desc py-5">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-6">
                    <img class="w-100" src="/img/bootsetFull.png" alt="">
                </div>
                <div class="col-6">
                    <div class="row my-3 text-center">
                        <p>
                            App used for planning and styling a BootStrap web page layout. App allows you to put
                            together a
                            view of a webpage based in BootStrap preset components. Functionality built on React.js and
                            state changes handled by React-Redux. Renders components based on React-Bootstrap to allow
                            the
                            user to explore various components and various style options.
                        </p>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center mb-3">
                    <span class="mx-3 p-2">
                        <i class="fab fa-html5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="HTML5"></i>
                    </span>
                            <span class="p-2 mx-3">
                       <i class="fab fa-css3-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CSS3"></i>
                   </span>
                            <span class="p-2 mx-3">
                        <i class="fab fa-js" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java Script"></i>
                    </span>
                            <span class="p-2 mx-3">
                        <i class="fab fa-bootstrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap"></i>
                    </span>
                            <span class="p-2 mx-3">
                      <i class="fab fa-react" data-bs-toggle="tooltip" data-bs-placement="bottom" title="React.js"></i>
                    </span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center">
                            <div class="container-fluid d-flex justify-content-end">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://unruffled-elion-d196b6.netlify.app/" class="mx-3 links"
                                           target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fas fa-globe"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>Website</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid d-flex justify-content-start">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://github.com/robertocuyar/bootset" class="mx-3 links"
                                           target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>GitHub</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 fixed-bg text-highlight" id="project-three">
        <h1>D-Weather</h1>
    </div>
    <div class="project-desc py-5">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-6">
                    <img class="w-100" src="/img/dweatherFull.png" alt="">
                </div>
                <div class="col-6">
                    <div class="row my-3 text-center">
                        <p>
                            Displays weather forecasts. Functionality built using Java Script and the JQuery library.
                            The app utilizes
                            OpenMapWeather and MapBox APIs to allow a user to receive a forecast and a location map of
                            weather in their area. The app also allows a search for the weather forecast in a location
                            by
                            using the search bar
                        </p>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center mb-3">
                    <span class="p-2 mx-3">
                        <i class="fab fa-html5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="HTML5"></i>
                    </span>
                            <span class="p-2 mx-3">
                       <i class="fab fa-css3-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="CSS3"></i>
                   </span>
                            <span class="p-2 mx-3">
                        <i class="fab fa-js" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java Script"></i>
                    </span>
                            <span class="p-2 mx-3">
                        <i class="fab fa-bootstrap" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap"></i>
                    </span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center">
                            <div class="container-fluid d-flex justify-content-end">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://robertocuyar.github.io/d-weather/" class="mx-3 links"
                                           target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fas fa-globe"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>Website</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid d-flex justify-content-start">
                                <div class="row">
                                    <div class="col-12 mb-1 text-center">
                                        <a href="https://github.com/robertocuyar/d-weather" class="mx-3 links"
                                           target="_blank"
                                           rel="noreferrer noopener">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p>GitHub</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>