<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials :: head"/>

<body>
<nav th:replace="partials :: navbar" />
<div class="ui container">
<form method ="POST" class="ui form" action="/posts/create">
    <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title" id="title">
    </div>
    <div class="field">
        <label>Blog Body</label>
        <textarea name="body" id="body"></textarea>
    </div>
    <button type="submit" class="ui submit button">Submit</button>
</form>
</div>
<div th:replace="partials :: footer"/>
</body>
</html>