:root{
    --light: #f8f1f1;
    --light-blue: #11698e;
    --dark-blue: #19456b;
    --accent-green: #16c79a;
    --head-font: 'Lato', sans-serif;
    --sub-font: 'Roboto', sans-serif;
}

nav {
    background-color: var(--dark-blue);
    z-index: 10;
    font-family: var(--head-font);
}

.important-text{
    color: var(--light) !important;
}

body {
    background-image: url("../img/connect.png");
}

.fixed-bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    opacity: 0.9;
}

.text-highlight{
    color: var(--light);
    text-shadow: 2px 2px var(--dark-blue);
    font-family: var(--head-font);
}

#center-text{
    color: var(--light-blue);
}

p {
    font-family: var(--sub-font);
}
i {
    font-size: 1.75rem;
}

#project-one{
    background-image: url("../img/yumrandoFinal.png");
}

#project-two {
    background-image: url("../img/bootsetFinal.png");
}

#project-three{
    background-image: url("../img/dweatherFinal.png");
}
.project-desc{
    background-color: var(--dark-blue);
    color: var(--light);
}

.links{
    color: var(--light);
    cursor: pointer;
}

.links:hover {
    color: var(--accent-green);
}

img {
    width: 70% !important;
    box-shadow: 0 0  25px 10px #132743;
}