:root{
    --light: #f8f1f1;
    --light-blue: #11698e;
    --dark-blue: #19456b;
    --accent-green: #16c79a;
}

html, body{
    height: 100%;
}

nav {
    background-color: var(--dark-blue);
    z-index: 10;
}

.important-text{
    color: var(--light) !important;
}

body {
    background-image: url("../img/connect.png");
}

.fixed-bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}

#project-one{
    background-image: url("../img/yumrando.png");
    color: var(--light-blue);
    text-shadow: 2px 2px var(--dark-blue);
    opacity: 0.9;
}

#project-two {
    background-image: url("../img/bootset.png");
    color: var(--light-blue);
    text-shadow: 2px 2px var(--dark-blue);
    opacity: 0.9;
}

#project-three{
    background-image: url("../img/dweather.png");
    color: var(--light-blue);
    text-shadow: 2px 2px var(--dark-blue);
    opacity: 0.9;
}
.project-desc{
    background-color: var(--dark-blue);
    color: var(--light);
}

.links{
    color: var(--light);
}

.links:hover {
    color: var(--accent-green);
}
